<h1 class="text-center">Administration</h1>

<div *ngFor="let category of categories" class="d-flex">
    <img src="{{urlImg}}{{category.image}}" alt="image category">
    <p>{{category.name}}</p>
    <button (click)="editModeCat(category.id)">editer</button>
    <button (click)="removeCategory()">supprimer</button>
</div>

<div *ngFor="let illustrationCom of categories.illustrationCom">
    <img src="{{urlImg}}{{illustrationCom.image}}" alt="image category">
</div>

<button (click)="modalCategory = true; addModeCat = true">Ajouter une categorie</button>
<button (click)="modalIllustrationCom = true; addModeIllustrationCom = true">Ajouter une illustration commentée</button>

<ng-template #editCat>
    <form [formGroup]="editCat" (ngSubmit)="onSubmitFormEditCategory()" class="d-flex flex-column">
        <input type="file" placeholder="image" formControlName="image">
        <mat-form-field>
            <input matInput type="text" placeholder="name" formControlName="name">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="editCat.invalid">editer</button>
    </form>
</ng-template>

<div *ngIf="modalCategory">
<div class="modal d-flex mx-auto">
    <div class="modal-body m-auto d-flex flex-column">
        <i (click)="modalCategory = false" class="fa fa-times-circle-o ml-auto" aria-hidden="true"></i>
        <h1 class="text-center">Categorie</h1>
        <form *ngIf="addModeCat; else editCat" [formGroup]="addCat" (ngSubmit)="onSubmitFormAddCategory()" class="d-flex flex-column">
            <input type="file" placeholder="image" formControlName="image">
            <mat-form-field>
                <input matInput type="text" placeholder="name" formControlName="name">
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="addCat.invalid">ajouter</button>
        </form>
    </div>
    </div>
    <div class="modal-background"></div>
</div>

<ng-template #editIllustrationCom>
    <form [formGroup]="editIllustrationCom" (ngSubmit)="onSubmitFormEditCategory()" class="d-flex flex-column">
        <input type="file" placeholder="image" formControlName="image">
        <mat-form-field>
            <textarea matInput type="text" placeholder="description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput type="text" placeholder="temoignage" formControlName="temoignage"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="category" formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="editIllustrationCom.invalid">editer</button>
    </form>
</ng-template>

<div *ngIf="modalIllustrationCom">
    <div class="modal d-flex mx-auto">
        <div class="modal-body m-auto d-flex flex-column">
            <i (click)="modalIllustrationCom = false" class="fa fa-times-circle-o ml-auto" aria-hidden="true"></i>
            <h1 class="text-center">Illustration Commentée</h1>
            <form *ngIf="addModeIllustrationCom; else editIllustrationCom" [formGroup]="addIllustrationCom" (ngSubmit)="onSubmitFormAddCategory()" class="d-flex flex-column">
                <input type="file" placeholder="image" formControlName="image">
                <mat-form-field>
                    <textarea matInput type="text" placeholder="description" formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput type="text" placeholder="temoignage" formControlName="temoignage"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="category" formControlName="category">
                      <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button type="submit" [disabled]="addIllustrationCom.invalid">ajouter</button>
            </form>
        </div>
    </div>
    <div class="modal-background"></div>
</div>

<canvas #myCanvas></canvas>